@{
  ViewData["Title"] = "Home Page";
}
@model TheCallCenter.Data.Entities.Call
@section Scripts {
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="row">
  <div class="col-6 offset-3">
    <h1 class="display-4">Help Center</h1>
    <p>If you have an issue, please fill out the following form to get help from our support team...</p>
    <form id="theForm" method="post">
      <div asp-validation-summary="ModelOnly" />
      <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Problem"></label>
        <textarea asp-for="Problem" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Problem" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
      </div>
      <div>@ViewBag.Message</div>
    </form>
  </div>
</div>
